body {
  background-color: #F2F2F2;
  font: normal normal 13px Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  body {
    --video-width: 100vw;
    --container-width: 90%;;
  }
}

@media (min-width: 601px) {
  body {
    --container-width: 1200px;
    --video-width: 600px;
    --mobile-width: 600px;
  }
}

header {
  background-color: #383838;
  color: #FFF;
  width: 100%;
}

.container {
  display: grid;
  grid-template-areas: "header" "camera" "examples";
  grid-gap: 2em;
  margin: 0 auto;
}

header h1 {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 15px;
}

.camera {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.7em;
  margin: 0 auto;
  position: relative;
}


.video-block {
  background: #FFF;
  max-width: var(--video-width);
  margin: 0 auto;
  padding: 1em;
}

.watercolor {
  background: #FFF;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 1em;
}

.camera-btn{
  background: #CD2122 url("images/camera.svg") no-repeat center; 
  right: 50%;
}

.btn{
  border-radius: 27px;
  background-size: 36px 36px;
  color: #FFF;
  bottom: 1.5em;
  height: 54px;
  position: absolute;
  width: 54px;
  z-index: 5;
  opacity: 0.9;
}

.btn:hover{
  opacity: 1;
}

.btn:active{
  opacity: 0.7;
}

.examples {
  background: #FFF;
  margin: 0 auto;
  width: var(--container-width);
  padding: 1em;
}

.examples h2{
  color: #303030;
  font-family: Lato, helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8em;
}

.photos{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 1em;
  margin: 0 auto;
}

.photos img{
  width: 95%;
}

@supports (filter: blur(2px)) and (mix-blend-mode: multiply) {
  .watercolor {
    position: relative;
    overflow: hidden;
  }
  .watercolor:before, .watercolor:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    padding: 1em;
  }
  .watercolor:before {
    background-blend-mode: difference;
    background-position: calc(50% - 1px) calc(50% - 1px), calc(50% + 1px) calc(50% + 1px);
    filter: brightness(2) invert(1) grayscale(1);
    box-shadow: inset 0 0 0 1px black;
  }
  .watercolor:after {
    background-position: center;
    mix-blend-mode: multiply;
    filter: brightness(1.3) blur(2px) contrast(2);
  }
}

#canvas {
  display: none;
}

@media (max-width: 600px) {
  .camera {
    grid-template-columns: none;
    grid-template-rows: 50% 50%;
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .btn{
    bottom: 50%;
    left: 85%;
  }

  .photos{
    display: block;
    width: 100%;
  }

  .photos img{
    height: 80%;
  }
}